@import url("https://fonts.googleapis.com/css?family=Roboto");



body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}
/********************Navigation Bar *******************/

nav {
    display:none;
    position: relative;
    font-family: "Roboto", sans-serif;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

.nav-toggle {
    cursor: pointer;
    transition: color 0.2s;
}

    .nav-toggle:hover {
        color: #777;
    }

nav header {
    position: absolute;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 2rem;
    box-shadow: 0 2px 10px #333;
}

    nav header i {
        line-height: 60px !important;
    }

#nav-brand {
    margin-left: 1rem;
    font-weight: bold;
    line-height: 60px;
    font-size: 2rem;
}

.nav-menu {
    position: absolute;
    top: 10px;
    right: 5%;
    background-color: #444;
    border-radius: 30%;
    transform: translate(10%, 0%);
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
}

.nav-menu-icon {
    position: absolute;
    top: 0;
    right: 5%;
    cursor: pointer;
    padding: 0 10px;
    color: white;
}

.nav-menu ul {
    padding: 5px 0;
    text-align: left;
    min-width: 150px;
}

.nav-menu li {
    padding: 0.7em 1em;
    cursor: pointer;
    font-weight: normal;
}

    .nav-menu li:hover {
        background-color: #333;
        transition: background-color 0.4s;
    }
/* Note: always keep z-index of desired element higher than background-fader class*/
.background-fader {
    visibility: hidden;
    width: 100%;
    position: fixed;
    height: 140vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 9;
    opacity: 0;
    transition: opacity 400ms;
}

.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    color: white;
    padding-bottom: 1rem;
    height: 100vh;
    width: 40%;
    transform: translate(-100%, 0%);
    transition: transform 0.4s;
    z-index: 10; /* this is required so that it stays above navbar wrapper*/
}

    .side-navbar i {
        position: relative;
        left: 80%;
        cursor: pointer;
        top: 10px;
    }

    .side-navbar ul {
        margin-top: 1rem;
    }

    .side-navbar li {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2rem;
        /*text-align: center;*/
    }

        .side-navbar li:hover {
            background-color: #333;
            cursor: pointer;
        }

        .side-navbar li a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 0.5rem 1rem;
        }

.fade-background {
    visibility: visible;
    opacity: 1;
}

.show-side-navbar {
    transform: translate(0%, 0%);
}

.show-nav-menu {
    transform: translate(0%, 50px);
    opacity: 1;
    visibility: visible;
    border-radius: 0;
}



@media (max-width:768px) {

    nav {
        display: block !important;
    }
}