
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<link href="~/css/expargomain.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"

        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
             <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
         
.navbarMain ul li a.active {
  color: white;
  /* Diğer stil ayarlarını burada yapabilirsiniz */
}


        </style>
</head>


<body>



    <!-- !Header !!!!!!!!!!!!!!!!!!! -->
    <div class="TopBarmain">
        <div class="logoTobbar col-9">
            <ul>
                <li>
                    <a href="#">Mobil Tətbiqi yükləyin</a>
                </li>
                <li>
                    <a href="#"> <img src="https://www.expargo.com/assets/img/app-store-badge.svg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="https://www.expargo.com/assets/img/google-play-badge.svg" alt=""> </a>
                </li>
            </ul>
        </div>
        <div class="CurrencyName col-3 align-self-center text-right">
            <ul>
                <li>
                    <a href="#">USD</a>
                    <a href="#">AZN</a>
                    <a href="#">TRY</a>
                </li>
            </ul>
        </div>
    </div>
    <Header class="HeaderMain ">

        <section class="MainSection" style="background-color:rgb(78,0,142);">
            <div class="navbarMain" style="background-color:rgb(78,0,142);">
                                      

                <ul>
                    <li>
                     <img src="/Img/youtube_profile_image.png" alt="">
                    </li>
                    <li>
                        <a href="/Home/Index">Əsas Səhife</a>
                    </li>
                    
                
                    <li>
                        <a href="/Home/Tarif">Tariflər</a>
                    </li>
                    <li>
                        <a href="/Home/XidmetSebekesi">Xidmət Şəbəkəsi</a>
                    </li>
                    <li>
                        <a href="/Home/Xeberler">Xəbərlər</a>
                    </li>
                    <li>
                        <a href="/Home/Elaqe">Əlaqə</a>
                    </li>
                    <li>
                        <a href="/Home/Korporativ">Korporativ</a>
                    </li>
                    <li>
                        <a href="/Home/FAQ">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Beynəlxalq Qrupaj</a>
                    </li>
                    <li class="expargo-btn">
                        <a href="/User/Login"><i class="fa-sharp fa-solid fa-user" style="margin-right: 10px;"></i>Daxil ol</a>
                    </li>
                </ul> <!-- !Header finish -->
            </div>
         </section>
    </header>




    <div class="background-fader"></div>
<nav class="AndroidNavbar">
    <header>
        <i class="fa fa-bars fa-2x nav-toggle" aria-hidden="true"></i>
        <span id="nav-brand" style="margin-left: 50px;">NaN Cargo</span>

        <div class="nav-menu">
            <ul>
                <li>Settings</li>
                <li>Help</li>
            </ul>
        </div>
    </header>
    <div class="side-navbar">
        <i class="fa fa-times fa-2x nav-toggle" aria-hidden="true"></i>
        <ul>
            <li class="Buttonactive"><a href="/Home/Index"> Əsas Səhifə</a></li>
            <li  class="Buttonactive"><a href="/Home/Tarif">Tariflər</a></li>
            <li  class="Buttonactive"><a href="/Home/XidmetSebekesi">Xidmət şəbəkəsi</a></li>
            <li  class="Buttonactive"><a href="/Home/Xeberler">Xəbərlər</a></li>

            <li  class="Buttonactive"><a href="/Home/Elaqe">Əlaqə</a></li>
            <li  class="Buttonactive"><a href="/Home/Korporativ">Korporativ</a></li>
            <li  class="Buttonactive"><a href="/Home/FAQ">FAQ</a></li>
            <li  class="Buttonactive"><a href="/User/Login">AdminPanel</a></li>
        </ul>
    </div>
</nav>


@RenderBody()




                        
    <!-- *Footer -->


    <footer class="container-fluid py-5 bg-gradient FooterMain">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div _ngcontent-saa-c53="" class="row">
                        <div class="col-md-12">
                            <div class="logo-part"><img src="" class="w-50 logo-footer" style="width:150px !important;">
                                <p>Xaricdən sifarişlərin sərfəli çatdırılması</p>
                                <p><b>Expert MMC</b><br> Ağa Nemətulla küç. 49a<br>
                                    Bakı, AZ1052, Nəriman Nərimanov </p>
                                <p style="margin-bottom: 0 !important;"><span><b> Həftəiçi:</b>
                                        10:00-20:00</span></p>
                                <p><span><b>
                                            Şənbə: </b> 10:00-16:00</span></p><a href=""><i
                                        class="fa fa-phone"></i><span> +994 (12) 210 00
                                        85</span></a>
                                <p class="international" style="margin-top: 5px; margin-bottom: 0;"><b> For
                                        International inquiries: <img width="16" src="" alt=""
                                            style="margin: 0 3px 0 5px; position: relative; bottom: 1px;"><img
                                            width="16" src="" alt="" style="position: relative; bottom: 1px;"></b>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="line-height: 25px;">
                        <div class="col-md-6 linkReport">
                            <h6 class="mt-3 mt-md-0">Digər linklər</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li><a href=""><span> Əsas səhifə</span></a></li>
                                        <li><a href=""><span>
                                                    Korporativ</span></a></li>
                                        <li><a routerlink="how" href="/how"><span> Necə işləyir?</span></a>
                                        </li>
                                        <li><a href=""><span> Xidmət şəbəkəsi</span></a></li>
                                        <li><a href="#"><span _ngcontent-saa-c53=""> Şərtlər &amp;
                                                    Qaydalar</span></a></li>
                                        <li><a href=""><span> Gizlilik Siyasəti</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href=""><span> Tariflər</span></a>
                                        </li>
                                        <li><a href=""><span> Xəbərlər</span></a>
                                        </li>
                                        <li><a href="#"><span>
                                                    İstifadəçi paneli</span></a></li>
                                        <li><a href="#"><span>
                                                    Mağazalar</span></a></li>
                                        <li><a href="#"><span _ngcontent-saa-c53=""> Əlaqə</span></a></li>
                                        <li><a href="#"><span> FAQ</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Bizi izləyin</h6>
                            <div class="social">
                                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                            <h6 class="mt-3">Mobil tətbiq</h6>
                            <a href="#" style="margin-left: -6px;">
                                <img src="https://www.expargo.com/assets/img/google-play-badge.svg"
                                    style="margin-top: -43px;width: 120px;"></a>
                            <a href="#" style="margin-left: -6px;"><img
                                    src="https://www.expargo.com/assets/img/app-store-badge.svg"
                                    style="margin-top: -43px; width: 120px;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px solid rgba(255, 255, 255, 0.1); margin-top: 2rem;">
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom">
                        <div class="auth daxilolauth"><a href="#" class="expargo-btn"> Daxil ol </a><br><a href="#"
                                class="expargo-btn"> Qeydiyyat</a></div>
                        <p style="position: relative; top: 8px;"> © Copyright 2018-2023, Bütün
                            hüquqlar qorunur. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    </body>

</html>

<script>
    

const togglebtns = document.querySelectorAll('.nav-toggle');
const sideBar = document.querySelector('div.side-navbar');
const sidebarLinks = document.querySelectorAll('.side-navbar li');
const threeDotMenu = document.querySelector('div.nav-menu-icon');
const navMenu = document.querySelector('div.nav-menu');
const backgroundFader = document.getElementsByClassName('background-fader')[0];


function toggleSidebar() {
    sideBar.classList.toggle('show-side-navbar');
    backgroundFader.classList.toggle('fade-background');
}

togglebtns.forEach(togglebtn => {
    togglebtn.onclick = function () {
        toggleSidebar();
    };
});


  // Sayfa yüklendiğinde etkin sayfayı belirleme
  document.addEventListener("DOMContentLoaded", function() {
    var currentPath = window.location.pathname;
    var menuItems = document.querySelectorAll(".navbarMain ul li a");

    for (var i = 0; i < menuItems.length; i++) {
      var menuItem = menuItems[i];
      var href = menuItem.getAttribute("href");

      if (href === currentPath) {
        menuItem.classList.add("active");
        break;
      }
    }
  });

  // Linklere tıklandığında etkin sayfayı belirleme
  var links = document.querySelectorAll(".navbarMain ul li a");
  for (var i = 0; i < links.length; i++) {
    links[i].addEventListener("click", function() {
      var currentActive = document.querySelector(".navbarMain ul li a.active");
      if (currentActive) {
        currentActive.classList.remove("active");
      }
      this.classList.add("active");
    });
  }

</script>


@*//threeDotMenu.onclick = function () {
//    navMenu.classList.toggle('show-nav-menu');
//};



//document.querySelectorAll(".Buttonactive").forEach(x => {
//    x.addEventListener("click", function () {
//        document.querySelectorAll(".Buttonactive").forEach(x => {
//            x.style.backgroundColor = "#f6f6f6"
//        });
//        x.style.backgroundColor = "purple"
//    })
//});
*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>




    <!-- *Footer Finish -->