@{
    Layout = "/Views/shared/NavbarBottom.cshtml";
}
@using NantechCargo.az.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model User
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="~/css/usercss/loginmain.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/usercss/signinandpasswordrecovery.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <link href="~/css/usercss/NavbarBottom.css" rel="stylesheet" />


    <link href="~/css/usercss/expargologin.css" rel="stylesheet" />
    <style>
        nav header {
            right: 0;
        }
    </style>
</head>




<div class="adminpanelright234123q4">
    <div class="daxilol__">
        <div class="daxilollltaxt">
            <span> <a href="/User/Login"><i class="fa-solid fa-angle-left"></a></i>Daxil Ol</span>
        </div>
    </div>
    <div class="mainhustiftcontenct">
        <div class="hydratedmain">
            <div class="hydratedimg">

                <img src="~/img/youtube_profile_image.png" />
                <p>
                    Daxil ol
                </p>
            </div>

            <div class="inputaccount">
                <div class="container lefffft">
                    <form method="post" action="/User/LoginSignIn">

                        <div class="group">
                            <input  type="text" autocapitalize="off" autocomplete="off" autocorrect="off"
                                   required   asp-for="UserFirstName" />
                           
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>email və ya müştəri kodunuz</label>
                        </div>

                        <div class="group qwerty">
                            <input type="password" required asp-for="UserPassword" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Sifre</label>
                        </div>
                        <a href="/User/LoginPasswordRecovery">Sifrenin berpasi</a>

                    <div class="buttons">

                            <input type="submit" value="Login" />
                        <div class="qeydiyyatbuttton">
                            <a href="/User/LoginRegistration">Qeydiyyat</a>

                        </div>
                        </div>

                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





