@using System.Security.Claims;


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Expargo_SIfarislerim/Expargo_Sifarislerim.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <style>
        .sifarislerelaveet i {
            background-color: rgb(255, 89, 0);
            padding: 20px;
            cursor: pointer;
        }

        .form-control {
            width: 100% !important;
        }

        .addordersifarisler {
            margin-top: 10%;
        }

        .calc input {
            background-color: red;
        }

        .sifarislerimrightmain{
            display
        }
    </style>
</head>

<body>



    <div class="baglamalartext">
        <h3>
            <a href="/User/Sifarislerim">
            <i class="fa-solid fa-chevron-left"></i>Sifaris Artir
            </a>
        </h3>
    </div>

   
    <div class="Birlsdr1" style="display:flex;">
    <div class="sifarislerimrightmain" style="background-color: rgb(237, 237, 237); width: 100%;">


   
                <button onclick="addnew()" type="submit" style="cursor:pointer; width:50%;"
                        class="btn btn-success yeniyarat">
                    Link əlavə et
                </button>
        <br>
        <div class="tab-content" id="nav-tabContent" style="margin: auto 3rem;">
            <!-- Order Details -->
            <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="nav-home-tab">
                <div role="tablist" id="nantech-kargo">
                    <div class=" ">
                        <div class=" " id="copyyyy"  >
                          @*  <form action="/User/SifarislerimAddOrder " method="post">*@
                                <button id="delete" onclick="sil(this)">legv et</button>

                                <div class="card">
                                    <div class="card-header collapsed" role="tab" id="headingThree"
                                         data-toggle="collapse" href="#" aria-expanded="true"
                                         aria-controls="collapseThree">
                                        <h1 class="mb-0">
                                            Delivery Status <span>@User.FindFirst(ClaimTypes.NameIdentifier).Value</span>

                                        </h1>
                                    </div>
                                    <div id="collapseThree" class="collapse show" role="tabpanel"
                                         aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-8 col-sm-12">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="location">
                                                    Mehsul Adi
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="text" class="col-md-8 form-control" id="location"
                                                           placeholder="Misal üçün:Mehsulun Adi..."  name="ProductName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="ProductUrl">
                                                    Mehsul
                                                    Linki
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="url" class="col-md-8 form-control" id="ProductUrl"
                                                           placeholder="Misal üçün: //trendyol..."  name="ProductUrl">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="ProductPrice">
                                                    Mehsul
                                                    Qiymeti
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="number" class="col-md-8 form-control"
                                                           id="mehsulQiymeti" placeholder="e.g. there "  name="ProductPrice">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="ProductCargoAmount">
                                                    Daxili
                                                    Kargo(TRY)
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="number" class="col-md-8 form-control" id="dahiliCargo"
                                                           placeholder="e.g. there "  name="ProductCargoAmount">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="ProductCount">
                                                    Eded
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="number" class="col-md-8 form-control" id="ProductCount"
                                                           placeholder="e.g. there "  name="ProductCount">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="ProductShopID">
                                                    Magaza ID
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="text" class="col-md-8 form-control" id="ProductShopID"
                                                           placeholder="e.g. 123452"  name="ProductShopId">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="trackingNum">
                                                    Xususi Qeydler
                                                </label>
                                                <div class="col-md-8 col-sm-12">
                                                    <input type="text" class="col-md-8 form-control" id="trackingNum"
                                                           placeholder="zeruri deyil" >
                                                </div>
                                            </div>
                               



@*                            </form>
*@                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
            <!-- End of Order Details -->
            <!--Product Info  -->
            <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="nav-profile-tab">
                Display Product Info Content
            </div>
            <!--Factory Order  -->
            <div class="tab-pane fade" id="factory" role="tabpanel" aria-labelledby="nav-profile-tab">
                Display Factory Order Content
            </div>
            <!--Customer Info  -->
            <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="nav-contact-tab">
                Display Customer Info Content
            </div>
            <!--Files   -->
            <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="nav-contact-tab">
                Display Files
            </div>
        </div>





    </div>
   
    <div class="col-md-6 addordersifarisler">
        <div class="card">
            <div class="card-header">
                <div class="d-inline h4">Order Details</div>
                <div class="d-inline float-right"><small><a href="">Edit</a></small></div>
            </div>
            <div class="card-body">

                <dl class="row">
                    <dd class="col-sm-4">Qiymət:</dd>
                    <dt class="col-sm-8" id="PriceSee">0.00$</dt>

                </dl>
                <dl class="row">
                    <dd class="col-sm-4">Daxili kargo:</dd>
                    <dt class="col-sm-8" id="PriceSee2">0.00$</dt>

                </dl>
                <dl class="row">
                    <dd class="col-sm-4">Bank xərci: </dd>
                    <dt class="col-sm-8" id="BankXerci">0.00$</dt>

                </dl>
                <hr>
                <dl class="row d-flex" style="width: 100% !important;display:flex !important;" id="sonuc">
                    <dt class="col-sm-12">Toplam</dt>
                    <dd class="col-sm-12">0.00$</dd>
                </dl>
            </div>
        </div>


        <input type="submit" value="Tesdiq Et">
    </div>

    <</div>



    </div>
    <script>


        // !CALCULATOR //
        function hesapla() {
            var mehsulQiymeti = document.getElementById("mehsulQiymeti").value;

            var dahiliCargo = document.getElementById("dahiliCargo").value;


            document.getElementById("PriceSee").innerHTML = mehsulQiymeti + "$"
            document.getElementById("PriceSee2").innerHTML = dahiliCargo + "$"
            var masraf = 0.5;
            if (mehsulQiymeti !== "") {
                masraf = parseFloat(mehsulQiymeti) * 2;
            }

            document.getElementById("BankXerci").innerHTML = masraf + "$"

            var price = parseFloat(mehsulQiymeti) + masraf;

            var toplam = parseFloat(mehsulQiymeti) + parseFloat(dahiliCargo) + masraf;

            document.getElementById("sonuc").innerHTML = "Cemi: " + toplam + "$";

            document.getElementById("qiymet").innerHTML = "Qiymet: " + mehsulQiymeti;

            document.getElementById("price").innerHTML = "Price: " + price;
        }



        function addnew() {
            const rowElement = document.createElement('div');
            rowElement.classList.add('azer');
            rowElement.innerHTML = `
               <div class="azer">
                                        <button id="delete" onclick="sil()">legv et</button>
                                        <div class="card">
                                            <div class="card-header collapsed" role="tab" id="headingThree" data-toggle="collapse" href="#" aria-expanded="true" aria-controls="collapseThree">
                                                <h1 class="mb-0">
                                                    Delivery Status <span>Ali</span>

                                                </h1>
                                            </div>
                                            <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <div class="col-md-8 col-sm-12">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="location">
                                                            Mehsul Adi
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="text" class="col-md-8 form-control" id="location" placeholder="Misal üçün:Mehsulun Adi..." ="" name="ProductName">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="ProductUrl">
                                                            Mehsul
                                                            Linki
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="url" class="col-md-8 form-control" id="ProductUrl" placeholder="Misal üçün: //trendyol..." ="" name="ProductUrl">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="ProductPrice">
                                                            Mehsul
                                                            Qiymeti
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="number" class="col-md-8 form-control" id="mehsulQiymeti" placeholder="e.g. there " ="" name="ProductPrice">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="ProductCargoAmount">
                                                            Daxili
                                                            Kargo(TRY)
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="number" class="col-md-8 form-control" id="dahiliCargo" placeholder="e.g. there " ="" name="ProductCargoAmount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="ProductCount">
                                                            Eded
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="number" class="col-md-8 form-control" id="ProductCount" placeholder="e.g. there " ="" name="ProductCount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="ProductShopID">
                                                            Magaza ID
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="text" class="col-md-8 form-control" id="ProductShopID" placeholder="e.g. 123452" ="" name="ProductShopId">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="trackingNum">
                                                            Xususi Qeydler
                                                        </label>
                                                        <div class="col-md-8 col-sm-12">
                                                            <input type="text" class="col-md-8 form-control" id="trackingNum" placeholder="zeruri deyil" ="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            `;
            document.querySelector('#nantech-kargo ').appendChild(rowElement);
        }


        function sil() {
            const rowElement = document.querySelector('.azer');
            if (rowElement) {
                rowElement.parentNode.removeChild(rowElement);
            }
        }

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
</body>

</html>