@{
    Layout = "/Views/shared/NavbarBottom.cshtml";
}

@using NantechCargo.az.Models;
@model UpdatePass
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="~/css/usercss/loginmain.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/css/usercss/signinandpasswordrecovery.css" rel="stylesheet" />

    <link href="~/css/usercss/NavbarBottom.css" rel="stylesheet" />


    <link href="~/css/usercss/expargologin.css" rel="stylesheet" />
        <style>
            .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}
        </style>
             </head>
      
             
             
             <body>




    <div class="rightSexsiMelummatlarMain">
        <div class="baglamalartext">
            <a href="/User/UserId">
                <h3>
                    <i class="fa-solid fa-chevron-left"></i>Sifre Deyisikliyi
                </h3>
            </a>
        </div>



    <div class="mainDiv">
        <div class="cardStyle">
                <form action="/User/UserId_ChangePassword" method="post"  id="signupForm">

                <img src="" id="signupLogo" />

                <h2 class="formTitle"> Şifrə dəyişikliyi</h2>    
                    
                    
                    
                    <div class="inputDiv">
                        <label class="inputLabel" for="password">Cari Sifre</label>
                        <input type="password"  asp-for="OldPassword" >
                    </div>


                <div class="inputDiv">
                    <label class="inputLabel" for="password">Yeni Sifre</label>
                        <input type="password"  asp-for="NewPassword" >
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Yeni Sifrenin tekrari</label>
                        <input type="password" asp-for="RePassword" >
                </div>
                <div asp-validation-summary="All"></div>
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
                        <span>Continue</span>
                        <span id="loader"></span>
                    </button>
                </div>

            </form>
        </div>
    </div>
    </div>

        </body>
</html>


                @*    <script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirmPassword");

    document.getElementById('signupLogo').src = "/Img/youtube_profile_image.png";
    enableSubmitButton();

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            return false;
        } else {
            confirm_password.setCustomValidity('');
            return true;
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    function enableSubmitButton() {
        document.getElementById('submitButton').disabled = false;
        document.getElementById('loader').style.display = 'none';
    }

    function disableSubmitButton() {
        document.getElementById('submitButton').disabled = true;
        document.getElementById('loader').style.display = 'unset';
    }

    function validateSignupForm() {
        var form = document.getElementById('signupForm');

        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                console.log('There are some required fields!');
                return false;
            }
        }

        if (!validatePassword()) {
            return false;
        }

        onSignup();
    }

    function onSignup() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {

            disableSubmitButton();

            if (this.readyState == 4 && this.status == 200) {
                enableSubmitButton();
            }
            else {
                console.log('AJAX call failed!');
                setTimeout(function () {
                    enableSubmitButton();
                }, 1000);
            }

        };

        xhttp.open("GET", "ajax_info.txt", true);
        xhttp.send();
    }
                    </script>*@