@{
    Layout = "/Views/shared/_Layout.cshtml";
}



<header >
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <div class="our-services">
                    <h1>KORPORATİV XİDMƏTLƏRİMİZ</h1>
                    <div class="mt-4"></div>
                    <div class="detail mx-auto mx-lg-0">
                        <p class="text-white">
                            Expargo Ltd, beynəlxalq poçtdaşımalarla
                            yanaşı beynəlxalq yük daşıma və nəqliyyat sahəsində də özetibarlı və yüksək
                            keyfiyyətli xidmətlərini təklif edir. Müxtəlif sahələrdən olan
                            müştərilərinyüklərinin hava, dəmiryolu, quru yolu, dəniz nəqliyyatı ilə
                            çatdırılması,həmçinin Gömrük Brokerliyini öz öhdəmizə götürürük.
                        </p>
                    </div>
                    <div class="mt-4"></div><button class="btn btn-warning mt-3">
                        ƏLAQƏ
                    </button>
                    <div class="row mt-3">
                        <div class="col-12">
                            <a class="text-orange">
                                AZ
                            </a><a class="text-white"> EN </a><a class="text-white"> RU </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 text-right">
                <img src="https://www.expargo.com/assets/img/commercial/illustration.png" alt="expargo-commercial" class="img-fluid">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="our-services-nav">
                    <a href="#sea-freight">
                        <button class="btn btn-primary sea-freight">
                            Dəniz <br class="d-none d-lg-block">Nəqliyyatı
                        </button>
                    </a><a href="#air-freight">
                        <button class="btn btn-primary air-freight">
                            Hava <br class="d-none d-lg-block">Nəqliyyatı
                        </button>
                    </a><a href="#railroad-transport">
                        <button class="btn btn-primary railroad-transport">
                            Dəmiryolu <br class="d-none d-lg-block">Nəqliyyatı
                        </button>
                    </a><a href="#road-transport">
                        <button class="btn btn-primary road-transport">
                            Quru yolu <br class="d-none d-lg-block">Nəqliyyatı
                        </button>
                    </a><a href="#customs-brokerage">
                        <button class="btn btn-primary customs-brokerage">
                            Gömrük <br class="d-none d-lg-block">Brokerliyi
                        </button>
                    </a><a href="#project-cargo">
                        <button class="btn btn-primary project-cargo">
                            Qeyri standard <br class="d-none d-lg-block">yüklər
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="sea-freight" class="white-bg">
    <div class="container allimage1201">
        <div class="row">

            <div class="col-lg-4 align-self-center">
                <h2>DƏNİZ NƏQLİYYATI</h2>
                <p>
                    Şübhəsiz ki qiymət səmərəliliyinə görə dəniz nəqliyyatı ən sərfəli
                    nəqliyyat növü sayılır. Expargo ilə əməkdaşlıq edərək dünyanın hər hansı bir limanı ilə
                    idxal ixrac əməliyyatlarınızı həyata keçirə bilərsiniz. Uzaq Çin, Amerika və yaxud Avropa,
                    fərq etməz. Bütün istiqamətlərdə Expargo sizə lazım olan dəstəyi verməyə hazırdır.
                </p>
            </div>
            <div class="col-lg-8 text-right d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/sea-freight.png" alt="sea-freight-expargo" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="air-freight" class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-lg-none d-block mb-4 pt-3 pt-lg-0">
                <img src="https://www.expargo.com/assets/img/commercial/air-freight.png" alt="air-freight-expargo"
                     class="img-fluid">
            </div>
            <div class="col-lg-8 text-left d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/air-freight.png" alt="air-freight-expargo" class="img-fluid">
            </div>
            <div class="col-lg-4 align-self-center">
                <h2>HAVA NƏQLİYYATI</h2>
                <p>
                    Təcili və kiçik həcmli yük daşımalar üçün hava nəqliyyatı daha məqsədə
                    uyğundur. Expargonun bu xidmətindən istifadə edərək dünyanın hər hansı bir hava limanından
                    Azərbaycana idxal və ixrac əməlyatlarını həyata keçirə bilərsiniz. Expargo Mağazaları bu
                    sahədə öz təcrübələrini sizlərdən əsirgəməyəcəklər.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="railroad-transport" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-lg-none d-block mb-4">
                <img src="https://www.expargo.com/assets/img/commercial/railroad-transport.png" alt="railroad-transport-expargo"
                     class="img-fluid">
            </div>
            <div class="col-lg-4 align-self-center">
                <h2>DƏMİRYOLU NƏQLİYYATI</h2>
                <p>
                    Bəzi məhsulların daşınmasında, xüsusən keçmiş SSRİ ölkələri ərazisi
                    üzrə, dəmiryolu daşınmaları daha əlverişlidir. Əgər sizin belə bir daşınma ehtiyacınız
                    varsa, Expargo vasitəsi ilə vaqon ayrılması, MDB və Gürcüstan üzrə dəmiryolu tariflərinin
                    ödənməsi, dəmiryolu terminallarında aşırma və müxtəlif növ sənədləşmələri həyata keçirə
                    bilərsiniz.
                </p>
            </div>
            <div class="col-lg-8 text-right d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/railroad-transport.png" alt="railroad-transport-expargo"
                     class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="road-transport" class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-lg-none d-block mb-4 pt-3 pt-lg-0">
                <img src="ahttps://www.expargo.com/assets/img/commercial/tir.jpg" alt="road-transport-expargo"
                     class="img-fluid">
            </div>
            <div class="col-lg-8 text-left d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/tir.jpg" alt="road-transport-expargo" class="img-fluid">
            </div>
            <div class="col-lg-4 align-self-center">
                <h2>QURU YOLU NƏQLİYYATI</h2>
                <p>
                    İstər Türkiyədən, istərsə Avropa və ya digər ölkələrdən, istər qruppaj
                    istərsə də FTL şərtləri ilə Expargo quru nəqliyyatı fəaliyyətini həyata keçirdir. Bizə
                    müraciət edərək Expargonun çoxsaylı avtomobil şəbəkəsindən yararlana, yüklərinizin idxal və
                    ixrac əməlyatlarınızı icra edə bilərsiniz.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="customs-brokerage" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-lg-none d-block mb-4">
                <img src="https://www.expargo.com/assets/img/commercial/brokerage.jpg" alt="customs-brokerage-expargo" class="img-fluid">
            </div>
            <div class="col-lg-4 align-self-center">
                <h2>GÖMRÜK BROKERLİYİ</h2>
                <p>
                    Expargo bütün növ idxal və ixrac əməliyyatları üçün Brokerlik xidmətini
                    təklif edir. Expargonun peşəkar və təcrübəli brokerləri sizə hava və quru gömrük
                    terminallarında lazım olan idxal/ixrac əməliyyatlarını həyata keçirmək üçün lazım olan
                    köməyi əsirgəməyəcəklər. Gömrük brokerliyini bizə etibar edərək vaxtınıza qənaət edin.
                </p>
            </div>
            <div class="col-lg-8 text-right d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/brokerage.jpg" alt="customs-brokerage-expargo" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="project-cargo" class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-lg-none d-block mb-4 pt-3 pt-lg-0">
                <img src="https://www.expargo.com/assets/img/commercial/13.jpeg" alt="project-cargo-expargo"
                     class="img-fluid">
            </div>
            <div class="col-lg-8 text-left d-none d-lg-block">
                <img src="https://www.expargo.com/assets/img/commercial/13.jpeg" alt="project-cargo-expargo" class="img-fluid">
            </div>
            <div class="col-lg-4 align-self-center">
                <h2>QEYRİ STANDART YÜKLƏR</h2>
                <p>
                    Qeyri standard yükləri konteyner, TIR və yaxud vaqon ilə daşımaq mümkün
                    deyildir. Belə olan hallarda xüsusi növ avtomobil, kran və gəmilər ilə yüklərin daşınması
                    həyata keçirilir. Sevindirici haldır ki, bu cür ölçülü yüklərdə belə Expargo peşəkarlığı
                    köməyinizə çatır. Expargonun təcrübəli logistika komandası bu daşımalarınızı həyata keçirmək
                    üçün sizə lazımı köməyini edəcəklər.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contact-us" class="gray-bg contact-us ">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                    <div class="form-group">
                        <label for="emailAddress">Email ünvanı</label><input name="emailAddress" placeholder="name@email.com" id="emailAddress" required=""
                                                                             class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                    <div class="form-group my-5">
                        <label for="message">Mesaj</label><textarea rows="4" name="message"
                                                                    id="message" required="" class="form-control ng-untouched ng-pristine ng-invalid"
                                                                    placeholder="Bura mesaj yazın..."></textarea>
                    </div><button type="submit" class="btn btn-warning btn-block" disabled="">
                        TƏSDİQLƏ
                    </button>
                </form>
            </div>
            <div class="col-lg-5 offset-lg-2 mt-5 mt-lg-0 align-self-center">
                <div class="card shadow">
                    <div class="card-body">
                        <a href="mailto: sales@expargo.net">
                            <p>
                                <i class="fa fa-envelope"></i>
                                sales@expargo.net
                            </p>
                        </a>
                        <div class="mt-5"></div><a href="tel: +994 (12) 310 34 49">
                            <p>
                                <i class="fa fa-phone"></i> +994 (12)
                                310 34 49
                            </p>
                        </a>
                        <div class="mt-5"></div><a href="https://goo.gl/maps/SyTph48e8DLBZC9u5" target="_blank">
                            <p id="address">
                                <i class="fa fa-map-marker"></i> Dəmirçi Plaza 9-cu mərtəbə,<br> Xocalı prospekti 37
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>