@{
    Layout = "/Views/shared/_Layout.cshtml";
}




<div class=" my-5">
    <div class="text-center mt-5"><span class="heading">Tariflər</span></div>
    <div class="margin-30px">
        <div class="button-container mb-2 ultarif">
            <ul>


                <li class="daxilikargooo">
                    <button class="expargo-btn mb-3">
                        <span class="flags"
                              style="display: flex;">
                            <img src="https://www.expargo.com/assets/img/flags/azerbaijan.svg" alt="Daxili Kargo"
                                 class="mr-1">
                        </span> Daxili Kargo
                    </button>
                </li>

                <div>
                <li class="usakargo">
                    <button class="expargo-btn mb-3">
                        <span class="flags" style="display: flex;">
                            <img class="mr-1" src="https://www.expargo.com/assets/img/flags/usa.svg"
                                 alt="USA - Azerbaijan">
                        </span> ABŞ
                    </button>
                </li>
        </div>

        <div>
            <li class="turkeykargo">
                <button class="expargo-btn mb-3 active-expargo-btn">
                    <span class="flags"
                          style="display: flex;">
                        <img class="mr-1"
                             src="https://www.expargo.com/assets/img/flags/turkey.svg"
                             alt="Turkey - Azerbaijan">
                    </span> Türkiyə
                </button>
        </div>
        </li>
        </ul>
    </div>




    <div   class="row Turkiyeactive">
        <div   class="col-lg-6">
            <div   class="card h-100 special actvr" style="z-index: 2;">
                <div   class="stars">
                    <img  
                         src="https://www.expargo.com/assets/img/star-1.svg" alt="Favourite icon"><img   src="https://www.expargo.com/assets/img/star-1.svg"
                                                                                                       alt="Favourite icon">
                </div>
                <div   class="card-body">
                    <div   class="row">
                        <div   class="col-6">
                            <h3   class="cardhead">Xüsusi tarif</h3>
                        </div>
                    </div>
                    <div   class="row">
                        <div   class="col-12">
                            <div   class="button-wrapper">
                                <button  
                                        class="active">
                                    Standart
                                </button><button  
                                                 class="">
                                    Maye
                                </button>
                            </div>
                        </div>
                    </div>
                    <div   class="mb-2"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div   class="row">
                            <div   class="col-6">
                                <span  
                                      class="text-primary price"> $0.50  </span>
                            </div>
                            <div   class="col-6 text-right align-self-end">
                                <span   class="weight">
                                    KG 0.00  <span  >- KG 0.10</span> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div   class="mb-2"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div   class="row">
                            <div   class="col-6">
                                <span  
                                      class="text-primary price"> $1.50  </span>
                            </div>
                            <div   class="col-6 text-right align-self-end">
                                <span   class="weight">
                                    KG 0.10  <span  >- KG 0.25</span> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div   class="mb-2"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div   class="row">
                            <div   class="col-6">
                                <span  
                                      class="text-primary price"> $2.50  </span>
                            </div>
                            <div   class="col-6 text-right align-self-end">
                                <span   class="weight">
                                    KG 0.25  <span  >- KG 0.50</span> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div   class="mb-2"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div   class="row">
                            <div   class="col-6">
                                <span  
                                      class="text-primary price"> $3.25  </span>
                            </div>
                            <div   class="col-6 text-right align-self-end">
                                <span   class="weight">
                                    KG 0.50  <span  >- KG 0.75</span> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div   class="mb-2"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div   class="row">
                            <div   class="col-6">
                                <span  
                                      class="text-primary price"> $3.39  </span>
                            </div>
                            <div   class="col-6 text-right align-self-end">
                                <span   class="weight">
                                    KG 0.75  <span  >- KG 1.00</span> 
                                </span>
                            </div>
                        </div>
                    </div> 
                    <div   class="row mt-5">
                        <span  >
                            Xüsusi
                            tariflər yalnız Mərkəz, N.Nərimanov, Neftçilər Bravo filiallarını seçən
                            müştərilər üçün aktivdir.
                        </span>
                    </div>
                </div>
            </div>
        </div> 

        <div   class="col-lg-6 mt-3 mt-lg-0">
            <div   class="regular" style="left: -80px;">
                <div   class="card w-100">
                    <div   class="card-body">
                        <div   class="row">
                            <div   class="col-6">
                                <h3   class="cardhead" style="color: #232323;">
                                    Standart tarif
                                </h3>
                            </div>
                        </div>
                        <div   class="row">
                            <div   class="col-12">
                                <div   class="button-wrapper">
                                    <button   class="active">
                                        Standart
                                    </button><button   class="">
                                        Maye
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$0.75  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.00  <span  >- KG 0.10</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$1.75  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.10  <span  >- KG 0.25</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$2.75  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.25  <span  >- KG 0.50</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$3.50  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.50  <span  >- KG 0.75</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$3.89  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.75  <span  >- KG 1.00</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!yeni -->

    <div   class="row ABSSSS">
        <div   class="col-12 d-flex justify-content-center">
            <div   class="regular" style="left: 0px;">
                <div   class="card w-100" style="padding-left: 45px !important;">
                    <div   class="card-body">
                        <div   class="row">
                            <div   class="col-6">
                                <h3   class="cardhead" style="color: #232323;">
                                    Standart tarif
                                </h3>
                            </div>
                        </div>
                        <div   class="row">
                            <div   class="col-12">
                                <div   class="button-wrapper">
                                    <button  >
                                        Standart
                                    </button><button   class="active">
                                        Maye
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$1.77  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.00  <span  >- KG 0.10</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$3.77  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.10  <span  >- KG 0.25</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$5.77  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.25  <span  >- KG 0.50</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$6.77  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.50  <span  >- KG 0.75</span> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div   class="mb-2"
                             style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                            <div   class="row">
                                <div   class="col-6">
                                    <span  
                                          class="price">$7.77  </span>
                                </div>
                                <div   class="col-6 text-right align-self-end">
                                    <span   class="weight">
                                        KG 0.75  <span  >- KG 1.00</span> 
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div   class="row mt-4">
                            <span  >
                                Amerikadan ölçüsü 100 sm-dən böyük olan bağlamaların daşınma haqqı
                                həm <strong  >həcm</strong>, həm də <strong  >fiziki</strong> çəki əsasında hesablanır
                                və alınan göstəricilərdən böyük olanı daşınma haqqının hesablanması
                                üçün əsas çəki kimi qəbul edilir. <br  > Yekun
                                hesablaşmalar USD/AZN məzənnəsinə müvafiq olaraq aparılır.
                            </span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div  > </div>  
    </div>
    <!-- !!!!!!!!!!!!!!!!!!yeni -->.





    <div class="row justify-content-center DaxiliKarqo">
        <div class="col-12 d-flex regular local">
            <div style="left: 0px;">
                <div class="card w-100 main-card overflow-hidden" style="padding-left: 45px !important;">
                    <div class="row py-2 local-price"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div class="col-12 mb-3">
                            <h2 style="font-size: 20px; font-weight: 600; text-align: start;">
                                Daxili kargo
                            </h2>
                        </div>
                        <div class="col-6" style="text-align: start;">
                            <span class="weight"
                                  style="font-weight: 700; font-size: 16px;">1.00 ₼</span>
                        </div>
                        <div class="col-6" style="text-align: end;">
                            <span class="price"
                                  style="font-size: 16px; font-weight: 500; color: #858585;">
                                Bakı və
                                Abşeron ərazisi
                            </span>
                        </div>
                    </div>
                    <div class="row py-2 mb-4 local-price"
                         style="border-bottom: 1px solid #f2f2f2; padding-bottom: 8px;">
                        <div class="col-6" style="text-align: start;">
                            <span class="weight"
                                  style="font-weight: 700; font-size: 16px;">2.00 ₼</span>
                        </div>
                        <div class="col-6" style="text-align: end;">
                            <span class="price"
                                  style="font-size: 16px; font-weight: 500; color: #858585;">
                                Bölgələrə göndəriş
                            </span>
                        </div>
                    </div><span style="margin: 0px 0px 30px 0px; font-size: 12px;">
                        Bu
                        xidməti seçməklə öz
                        şəxsi bağlamalarınızı Expargo xidmət şəbəkəsinə daxil bir məntəqədən digər
                        məntəqəyə sərfəli və sürətli şəkildə göndərə bilərsiniz.
                    </span>
                    <div class="row local-card-row" style="margin-bottom: 30px;">
                        <div class="col-6 d-flex align-items-center flex-column">
                            <div class="card mini-card">
                                <img  
                                     src="https://www.expargo.com/assets/icon/local-service-1.svg" alt="">
                            </div><span style="color: #4e008e;">
                                Bağlamanınızı sizə yaxın
                                filiala gətirin
                            </span>
                        </div>
                        <div class="col-6 d-flex align-items-center flex-column">
                            <div class="card mini-card">
                                <img src="https://www.expargo.com/assets/icon/local-service-2.svg" alt="">
                            </div><span style="color: #4e008e;">
                                İstənilən məntəqədən təhvil
                                alın
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <img src="https://www.expargo.com/assets/icon/info.svg" alt=""
                             style="margin-bottom: 1.5px;">
                        Bağlamaların ümumi çəkisi <strong>5 kq-dan artıq</strong>
                        olduqda əlavə hər kiloqram
                        üçün <strong>1 AZN</strong> hesablanacaqdır.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-12 mt-3"></div>
        <div class="paragrafTarif">

            <p style="color: red;">
                28 May,Gənclik,Nərimanov,Əhmədli,20
                Yanvar,İnşaatçılar,Bakıxanov,Neftçilər Bravo,Həzi Aslanov,Xırdalan və Sumqayıt,təhvil
                məntəqələri,xaric digər təhvil məntəqələrinə 10% ölkədaxili çatdırılma xərci ümumi tarifə
                əlavə olunur.
            </p>
            <br>
            <p><b>Türkiyədən olan bağlamalar sadəcə fiziki çəkisinə görə hesablanır.</b></p>

            <p>
                <b>Amerikadan</b> ölçüsü <b>100sm-dən böyük olan bağlamaların</b> daşınma haqqı həm həcm,həm
                də fiziki çəki əsasında hesablanır və alınan göstəricilərdən
                böyük olanı daşınma haqqının hesablanması üçün əsas çəki kimi qəbul edilir.
            </p>


        </div>
    </div>
</div>


<script src="~/javascript/tarifjavascript.js"></script>