@{
    Layout = "/views/shared/_layout.cshtml";
}


<link rel="stylesheet" href="/Css/Expargo_Xeber.css">



<section class="section-with-carousel section-with-right-offset position-relative mt-5">

    <div class="carousel-wrapper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                </div>
                <div class="swiper-slide">
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-controls">
    </div>
    <div class="swiper-pagination"></div>
</section>



<section class="section-with-carousel carousel012012 section-with-left-offset position-relative mt-5">
    <div class="container">
        <h2 class="mb-3">Xəbərlər</h2>
    </div>
    <div class="carousel-wrapper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_188.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            🇺🇸 Amerikadan korporativ yüklərə özəl təklif!
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_187.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            Amerikadan sərfəli və sürətli xidmət

                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_186.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            Doğru ünvan Expargo
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_185.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            “Daxili Kargo” ilə biznesinizə dəstəyik!
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_183.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            Ramazanda iş qrafiki
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_180.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            Dəyərli müştərilərimiz!
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_178.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            Serengeti National Park, Tanzania
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure>
                        <img src="https://expargo.s3.eu-central-1.amazonaws.com/images/articles/image_175.jpg" alt="">
                        <figcaption>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M12 13.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
                                <path fill-rule="evenodd" d="M19.071 3.429C15.166-.476 8.834-.476 4.93 3.429c-3.905 3.905-3.905 10.237 0 14.142l.028.028 5.375 5.375a2.359 2.359 0 003.336 0l5.403-5.403c3.905-3.905 3.905-10.237 0-14.142zM5.99 4.489A8.5 8.5 0 0118.01 16.51l-5.403 5.404a.859.859 0 01-1.214 0l-5.378-5.378-.002-.002-.023-.024a8.5 8.5 0 010-12.02z"></path>
                            </svg>
                            “Daxili Kargo” ilə biznesinizə dəstəyik!

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="carousel-controls">
        <div class="carousel-control carousel-control-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                <path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path>
            </svg>
        </div>
        <div class="carousel-control carousel-control-right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                <path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z"></path>
            </svg>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>


<script src="~/javascript/xeberlerswipper.js"></script>