@{
    Layout = "/Views/shared/_Layout.cshtml";
}
<link href="~/css/expargoxidmetsebekesi.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section class="XidmetSebekesiMain">
    <div class="xidmetsebeke">
        <h2>Xidmət Şəbəkəsi</h2>
    </div>
    <div class="mappmain">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48612.0747330931!2d49.7821615216797!3d40.4032087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307daabaf58409%3A0x820f5f2bc2d6df9c!2sEXPARGO%20-%20G%C9%99nclik%20(Kargo)!5e0!3m2!1str!2saz!4v1682440457589!5m2!1str!2saz"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <div class="maplocation2 row">
        </div>
    </div>
</section>
<script src="~/javascript/xidmetsebeke.js"></script>